@import '../../_assets/css/_mixins.scss';

.loader-container {
  margin: 0 auto;

  .loader {
    text-align: center;
    border: .8rem solid $gray;
    border-top: .8rem solid $brand-color;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    animation: spin 1.5s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
}
