.about-card {
  width: 66%;
  padding: 20px;

  h1 {
    font-size: 26px;
    font-weight: 800;
    span {
      color: #FA7268;
    }
  }
  .about-content {
    text-align: left;
    p {
      font-size: 16px;
      line-height: 1.6;
      a {
        font-weight: bold;
        color: #FA7268;
        text-decoration: none;
        &:hover, &:active {
          color: #000000;
        }
      }
    }
    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      li {
        font-size: inherit;
        line-height: inherit;
        padding: 5px;
        border-bottom: 1px solid #292929;
        &:last-child {
          border-bottom: none;
        }
      }
    }
  }

  @media only screen and (max-width: 600px) {
    width: 100%;
  }
}
