@import '../../_assets/css/_mixins.scss';

.comments-list {
  margin-top: 2rem;
  .title {
    font-size: 1.6rem;
    line-height: 1.7;
    font-weight: 800;
  }
  ul {
    @include unstyled-list;
    li {
      display: block;
      border-bottom: .1rem solid $brand-color;
      padding: .5rem;
      &:last-child {
        border-bottom: none;
      }
    }
  }
}
