.shop-item {
  padding-top: 20px;
  flex: 1 1 auto;
  display: flex;
  justify-content: space-around;
  margin: 0 7.5px 15px;

  .item-image-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    animation: fadeIn 2s linear;

    @media only screen and (max-width: 600px) {
      margin: 0 auto;
    }
    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  @keyframes fadeIn
  {
     0% { opacity: 0; }
     100% { opacity: 1; }
  }

  .item-content-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 10px;

    .type {
      font-size: 16px;
      line-height: 1.7;
      font-weight: 800;
      margin-bottom: 10px;
    }

    .description {
      font-size: 16px;
      margin-bottom: 10px;
    }
  }

  @media only screen and (max-width: 600px) {
    flex-direction: column!important;
    width: 100%;
  }
}
