.likes {
  font-size: 1.6rem;
  margin-bottom: 1rem;

  .heart {
    width: 1.2rem;
    margin-left: .4rem;
    transition: transform 0.8s;

    &:hover {
      transform: scale(1.5) rotate(360deg);
    }
  }
}
