@import '../../_assets/css/_mixins.scss';

#navbar {
  height: 7rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 2.5rem;

  .logo-container {
    height: 100%;
    width: 7rem;
    text-align: left;

    .logo {
      height: 5rem;
      transition: transform 0.8s;

      &:hover {
        transform: scale(1.05);
      }
    }
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      font-size: 1.6rem;
      padding: 1rem 1.5rem;
      color: $primary-body-color;
      font-weight: bold;
      font-family: sans-serif;
      text-decoration: none;
      border-bottom: 1px solid $white;
      transition: border-bottom 1s, transform 0.8s, color 1s;

      span {
        transition: vertical-align 0.8s;
        &:hover {
          vertical-align: 3px;
        }
      }

      &:hover, &:active {
        transform: scale(1.05);
        border-bottom: 2px solid $primary-body-color;
      }

      &:active {
        color: #FA7268;
        border-bottom: 2px solid $brand-color;
      }
    }
  }
}
