@import '../../_assets/css/_mixins.scss';

#shop-page {
  @include responsive-page;
  padding: 2rem auto;
  .back-arrow {
    position: absolute;
    width: 4rem;
    text-align: left!important;
    left: 1rem;
    top: 8rem;
    .arrow {
      width: 3rem;
      height: auto;
    }
  }
}
