@import '../../_assets/css/_variables.scss';

.outside-item-container {
  flex: 1 1 auto;
  display: flex;
  width: 33%;
  justify-content: space-around;
  margin: 0 .75rem 1.5rem;

  &:nth-child(3n) {
    width: 50%;
  }

  .item-container {
    min-width: 100%;
    min-height: 50rem;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    perspective: 100rem;

    @media only screen and (max-width: 60rem) {
      width: 100%;
      min-height: 40rem;
      max-height: 19.5rem!important;
    }

    .menu-item {
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      transition: transform 0.8s;
      transform-style: preserve-3d;
      border-bottom: .4rem solid $black;

      &:hover {
        transform: rotateY(180deg);
      }

      .item-front, .item-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
      }

      .item-front {
        background-color: $black;
        color: black;
      }

      .item-back {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: $brand-color;
        color: $white;
        transform: rotateY(180deg);

        .title {
          font-weight: bold;
          margin-bottom: .6rem;
          font-size: 2.2rem;
        }

        .subtitle {
          font-weight: lighter;
          font-size: 1.6rem;
        }
      }

      &.large {
        height: 400px;
      }

      &:first-child {
        margin-right: 7.5px;
      }

      &:last-child {
        margin-left: 7.5px;
      }

      .background-image {
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 100%;
        animation: fadeIn 2s linear;
        @media only screen and (max-width: 60rem) {
          width: 100%;
          height: 100%;
        }
      }

      @keyframes fadeIn {
        0% { opacity: 0; }
      100% { opacity: 1; }
      }
    }
  }

  @media only screen and (max-width: 60rem) {
    width: 100%;
  }
}
