.outside-item-container {
  flex: 1 1 auto;
  display: flex;
  width: 33%;
  justify-content: space-around;
  margin: 0 7.5px 15px;

  &:nth-child(3n) {
    width: 50%;
  }

  .item-container {
    min-width: 100%;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    perspective: 1000px;

    @media only screen and (max-width: 600px) {
      width: 100%;
      min-height: 400px;
      max-height: 195px!important;
    }

    .menu-item {
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      transition: transform 0.8s;
      transform-style: preserve-3d;
      border-bottom: 4px solid #000000;

      &:hover {
        transform: rotateY(180deg);
      }

      .item-front, .item-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
      }

      .item-front {
        background-color: #bbb;
        color: black;
      }

      .item-back {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #FA7268;
        color: #ffffff;
        transform: rotateY(180deg);

        .title {
          font-weight: bold;
          margin-bottom: 6px;
          font-size: 22px;
        }

        .subtitle {
          font-weight: lighter;
          font-size: 16px;
        }
      }

      &.large {
        height: 400px;
      }

      &:first-child {
        margin-right: 7.5px;
      }

      &:last-child {
        margin-left: 7.5px;
      }

      .background-image {
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 100%;
        animation: fadeIn 2s linear;
        @media only screen and (max-width: 600px) {
          width: 100%;
          height: 100%;
        }
      }

      @keyframes fadeIn
      {
         0% { opacity: 0; }
         100% { opacity: 1; }
      }
    }
  }

  @media only screen and (max-width: 600px) {
    width: 100%;
  }
}
