@import './_assets/css/_mixins.scss';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  font-weight: 400;
  line-height: 1.7;
  color: $primary-body-color;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
