@import '../../_assets/css/_mixins.scss';

.comment-box {
  text-align: left;
  margin-top: 2rem;
  textarea {
    border-radius: 1rem;
    padding: 1.5rem;
    font-size: 1.6rem;
    width: 90%;
    transition: transform 0.8s;

    &:focus {
      outline: none !important;
      border: .1rem solid $brand-color;
      box-shadow: 0 0 1rem $brand-color;
    }
  }
  button {
    border-radius: 1.5rem;
    padding: 1rem;
    font-size: 1.6rem;
    font-weight: bold;
    margin-top: 1rem;
    transition: box-shadow 0.8s, transform 0.8s;
    background-color: $brand-color;
    color: $white;
    border: 1px solid $brand-color;

    &:hover, &:active {
      box-shadow: .5rem .5rem .5rem rgba($black, 0.8);
      animation: shadow-pulse 1s infinite;
    }

    &:active {
      transform: scale(1.1);
    }

    &:disabled {
      background-color: $disabled-gray;
      color: $black;
      border: .1rem solid $disabled-gray;
    }

    @keyframes shadow-pulse
    {
       0% { box-shadow: 0 0 0 0px rgba($brand-color, 0.4); }
       100% { box-shadow: 0 0 0 1rem rgba($brand-color, 0); }
    }

  }
}
